.boxTitle {background-image: url("/data/gui/panelwood119.jpg")}

#menuAtlas {background-image: url(/images/buttons/atlas_button.png)}
#menuNPCs {background-image: url(/images/buttons/npcs_button.png)}
#menuCreatures {background-image: url(/images/buttons/creatures_button.png)}
#menuItems {background-image: url(/images/buttons/items_button.png)}
#menuQuests {background-image: url(/images/buttons/quests_button.png)}
#menuResourceProjects,
#menuAchievements {background-image: url(/images/buttons/achievement_button.png)}
#menuAssociationStatue,
#menuHistory {background-image: url(/images/buttons/history_button.png)}


#menuResourceMaterial,
#menuHelpManual {background-image: url(/images/buttons/manual_button.png)}
#menuAssociationAbout,
#menuHelpFAQ {background-image: url(/images/buttons/faq_button.png)}
#menuHelpBeginner {background-image: url(/images/buttons/beginner_button.png)}
#menuHelpAsk {background-image: url(/images/buttons/help_button.png)}
#menuResourceChat,
#menuContribChat,
#menuHelpChat {background-image: url(/images/buttons/c_chat_button.png)}
#menuHelpSupport {background-image: url(/images/buttons/support_button.png)}
#menuHelpForum {background-image: url(/images/buttons/forum_button.png)}
#menuHelpRules {background-image: url(/images/buttons/rules_button.png)}

#playArea {background-image: url("../images/playbutton.png")}
#downloadArea {background-image: url("../images/downloadbutton.png")}

#menuPlayerOnline {background-image: url(/images/buttons/postman_button.png)}
#menuPlayerHalloffame {background-image: url(/images/buttons/quests_button.png)}
#menuPlayerKillstats {background-image: url(/images/buttons/items_button.png)}
#menuPlayerEvents {background-image: url(/images/buttons/events_button.png)}

#menuAssociationNews,
#menuResourceEvents,
#menuAdminNews {background-image: url(/images/buttons/news_button.png)}
#menuAdminScreenshots {background-image: url(/images/buttons/screenshots_button.png)}
#menuAdminSupportlog {background-image: url(/images/buttons/c_chat_button.png)}
#menuAdminPlayerhistory {background-image: url(/images/buttons/playerhistory_button.png)}
#menuResourceConcept,
#menuAdminInspect {background-image: url(/images/buttons/inspect_button.png)}

#menuContribChat {background-image: url(/images/buttons/c_chat_button.png)}
#menuContribWiki {background-image: url(/images/buttons/c_wiki_button.png)}
#menuContribBugs {background-image: url(/images/buttons/c_bug_button.png)}
#menuContribQuests {background-image: url(/images/buttons/quests_button.png)}
#menuContribHelp {background-image: url(/images/buttons/help_button.png)}
#menuContribTesting {background-image: url(/images/buttons/test_button.png)}
#menuContribHistory {background-image: url(/images/buttons/history_button.png)}
#menuContribDownload {background-image: url(/images/buttons/download_button.png)}
#menuContribDevelopment {background-image: url(/images/buttons/development_button.png)}

#menuNewsArchive {background-image: url(/images/buttons/news_button.png)}
#menuNewsRss {background-image: url(/images/buttons/feed_button.png)}
#menuNewsTrade {background-image: url(/images/buttons/twitter_button.png)}

#menuAccountMain {background-image: url(/images/buttons/login_button.png)}
#menuAssociationMembers,
#menuAccountCharacters {background-image: url(/images/buttons/players_button.png)}
#menuAccountMessages {background-image: url(/images/buttons/postman_button.png)}
#menuAccountMerge {background-image: url(/images/buttons/merge_button.png)}
#menuAccountLogin {background-image: url(/images/buttons/login_button.png)}
#menuAccountLogout {background-image: url(/images/buttons/logout_button_new.png)}
#menuAccountPassword {background-image: url(/images/buttons/password_button.png)}
#menuAccountEMail {background-image: url(/images/buttons/email_button.png)}

#menuAssociationDonations {background-image: url(/images/buttons/donate_button.png)}
#menuLangDe {background-image: url(/images/buttons/de.png)}
#menuLangEn {background-image: url(/images/buttons/en.png)}

#menuShareFacebook {background-image: url(/images/buttons/facebook_button.png)}
#menuShareTwitter {background-image: url(/images/buttons/twitter_button.png)}
#menuAssociationContact,
#menuShareEMail {background-image: url(/images/buttons/email_button.png)}
