.boxTitle {background-image: url("/data/gui/panelwood119.jpg")}

#menuAtlas {background-image: url(/images/buttons/atlas_button.png)}
#menuNPCs {background-image: url(/images/buttons/npcs_button.png)}
#menuCreatures {background-image: url(/images/buttons/creatures_button.png)}
#menuItems {background-image: url(/images/buttons/items_button.png)}
#menuQuests {background-image: url(/images/buttons/quests_button.png)}
#menuHistory {background-image: url(/images/buttons/history_button.png)}

#menuHelpManual {background-image: url(/images/buttons/manual_button.png)}
#menuHelpFAQ {background-image: url(/images/buttons/faq_button.png)}
#menuHelpBeginner {background-image: url(/images/buttons/beginner_button.png)}
#menuHelpAsk {background-image: url(/images/buttons/help_button.png)}
#menuHelpChat {background-image: url(/images/buttons/c_chat_button.png)}
#menuHelpSupport {background-image: url(/images/buttons/support_button.png)}
#menuHelpForum {background-image: url(/images/buttons/forum_button.png)}
#menuHelpRules {background-image: url(/images/buttons/rules_button.png)}

#playArea {background-image: url("../images/playbutton.png")}
#downloadArea {background-image: url("../images/downloadbutton.png")}

#menuPlayerOnline {background-image: url(/images/buttons/postman_button.png)}
#menuPlayerHalloffame {background-image: url(/images/buttons/quests_button.png)}
#menuPlayerKillstats {background-image: url(/images/buttons/items_button.png)}

#menuAdminNews {background-image: url(/images/buttons/news_button.png)}
#menuAdminScreenshots {background-image: url(/images/buttons/screenshots_button.png)}
#menuAdminSupportlog {background-image: url(/images/buttons/c_chat_button.png)}
#menuAdminPlayerhistory {background-image: url(/images/buttons/playerhistory_button.png)}

#menuContribChat {background-image: url(/images/buttons/c_chat_button.png)}
#menuContribWiki {background-image: url(/images/buttons/c_wiki_button.png)}
#menuContribBugs {background-image: url(/images/buttons/c_bug_button.png)}
#menuContribQuests {background-image: url(/images/buttons/quests_button.png)}
#menuContribHelp {background-image: url(/images/buttons/help_button.png)}
#menuContribTesting {background-image: url(/images/buttons/test_button.png)}
#menuContribHistory {background-image: url(/images/buttons/history_button.png)}
#menuContribDownload {background-image: url(/images/buttons/download_button.png)}
#menuContribDevelopment {background-image: url(/images/buttons/rpsystem_button.png)}

#menuNewsArchive {background-image: url(/images/buttons/news_button.png)}
#menuNewsRss {background-image: url(/images/buttons/feed_button.png)}
#menuNewsTrade {background-image: url(/images/buttons/twitter_button.png)}

#menuAccountMain {background-image: url(/images/buttons/postman_button.png)}
#menuAccountMerge {background-image: url(/images/buttons/players_button.png)}
#menuAccountLogin {background-image: url(/images/buttons/postman_button.png)}
#menuAccountLogout {background-image: url(/images/buttons/logout_button.png)}
#menuAccountPassword {background-image: url(/images/buttons/password_button.png)}