body
  {
	margin: 0;
	padding: 0;
	background-image: url("images/arbol.jpg");
	text-align: center; /* must do this to center body as IE doesnt like auto margin on body */
	font-family: Geneva, Tahoma, Arial, Helvetica, Sans-serif; 
	font-size:12pt; 
  }
  
  #container
  {
	overflow:visible;
	margin: 5px auto 5px auto;
	padding:0;
	width:970px; 
	border: 4px solid black;
	/* Some browsers don't like body element to have this propierties set */  
	background-image: url("images/fondo.jpg");
	background-position: top center;
	background-repeat: repeat-x;
  }
  
  #header
  {
	margin:0;
	text-align: left;
	padding: 20px 0 20px 20px;
  }
  
  /* Account system links on top-right area */
  #account
  {
	margin:0;
	padding: 4px;
	position: relative;
	float:right;
	top: -90px;
	width: 170px;
	font-family: Optima, Arial, sans;
	font-size: 75%;
	text-decoration: none;
	color: white;
	background-color:Black;
	border: solid 1px white;
  }
  #account a
  {
	color: white;
	text-decoration: none;
  }
  #account a:hover
  {
	color: blue;
  }
  
  /* Top horizontal menu */
  #topMenu
  {/*border: 1px solid red;*/
	clear:none;
	height:85px;
	padding:0;
	margin: 0 190px 0 190px;
	background-image:url("images/menu.png");
	background-repeat:no-repeat;
  } 
  #layer1 
  {
	  text-align:center;
	  margin:0;
	  padding:25px 0 2px 0;
	  margin: 0 10% 0 10%;  
  }
  
  #layer2 
  {  
	  border-top:1px black solid;
	  text-align:center;
	  margin:0;
	  padding:2px 0 0 0;
	  margin: 0 10% 0 10%;
  }
 
  #topMenu li 
  {
    list-style: none;
    text-align: center;
	display: inline;
	padding: 3px;
    /*border: 1px solid black;
    background-color: black;*/
    margin:0 3px 2px 0;

  }

  #topMenu a 
  {
	text-decoration: none;
	color: white;
	font-weight: bold;	
  }
  #topMenu a:hover
  {
	  color:black;
  }
  
  #topMenu img {
	  position: relative;
	  top: -1px;
	  margin:0 5px 0 0;
	  border:0;
  }
  
  /* LEFT PANE */
  #leftArea
  {/*border: 1px solid red;*/
	padding:0;
	margin:-80px 3px 0 0;
	position: relative;
	float: left;
	text-align: left;
	width: 180px;	
  }
  
  #leftMenu {	  
    list-style-type: none
  }
  #leftMenu li {
	width: 135px;
	height:25px;
	margin:3px 0 0 -30px;
	padding: 0 0 3px 0;
	border-bottom: 1px solid black;	  
  }
  #leftMenu a {
	  text-decoration: none;
	  color: black;
	padding:3px;
	font-size: 12px;
  }
  #leftMenu a:hover {
	  color:blue;
  }
  #leftMenu img {
	border:0;
	margin:0 6px -6px -3px;
	padding:0;	  
  }
  
  /* RIGHT PANE */
  #rightArea
  {/*border: 1px solid red;*/
	margin:-80px 0 0 3px;
	padding:0;
	position: relative;
	right:0;
	float:right;

	text-align: left;
	width: 180px;
  }
  
  #rightMenu {	  
    list-style-type: none
  }
  #rightMenu li {
	width: 135px;
	height:25px;
	margin:3px 0 0 -30px;
	padding: 0 0 3px 0;
	border-bottom: 1px solid black;	  
  }
  #rightMenu a {
    text-decoration: none;
    color: black;
    padding:3px;
    font-size: 12px;
  }
  #rightMenu a:hover {
	color:blue;	  
  }
  #rightMenu img {
	border:0;
	margin:0 6px -6px -3px;
	padding:0;	  
  }
  
  
  /* big buttons */
  #playArea
  {
	background-image: url("images/playbut1.png");
	width: 170px;
	height: 43px;
	margin: 2px;
	text-align: center;
  }
  #downloadArea
  {
	background-image: url("images/downloadbut1.png");
	width: 170px;
	height: 43px;
	margin: 2px;
	text-align: center;
  }
  
.playerBox
  {
  padding: 2px;
  }
.playerBoxImage
  {
  float: left;
  width: 48px;
  height: 64px;
  border: 1px black solid;
  margin-right: 4px;
  margin-bottom: 4px;
  }
.playerBoxName
  {
  font-weight: bolder;
  }
.playerBoxXP
  {
  font-size: 80%;
  }
.playerBoxQuote
  {
  border: 1px green solid;
  font-size: 10px;
  line-height: 12px;
  background-color: rgb(180,180,180);
  padding: 2px 0 0 2px;
  clear: left;
  font-family: Courier New;
  font-size: 70%;
  }

  
  .box
  {
	margin: 4px;
	padding: 0;
	border: solid 2px black;
	background-color: white;
  }
  .boxTitle
  {
	margin:0;
	padding: 3px;
	color: white;
	font-weight: bolder;
	background-image:url("images/panelwood003.jpg");
	background-repeat:repeat;
	border: outset 2px brown;
  }
  .boxContent
  {
	color:Black;
	padding: 4px;
  }
  
  /* events */
  .event
  {
	color: Black;
	background-image: url("images/calendar.png");
	border: black 1px solid;
	padding: 4px;
	margin-bottom: 4px;
  }
  .eventDate
  {
	text-align: right;
	font-family: Lucida Console, Arial, sans;
	font-size: 60%;
  }
  .eventRaid
  {
	background-image: url("images/eventRaid.png");
	width: 48px;
	height: 49px;
	margin: 3px;
	float: left;
  }
  .eventGift
  {
	background-image: url("images/eventGift.png");
	width: 48px;
	height: 49px;
	margin: 3px;
	float: left;
  }
  .eventRaid span
  {
    display: none;
  }
  .eventLocation
  {
	font-family: Arial;
	font-weight: bolder;  
	text-align: right;
  }
  .eventDescription
  {
	clear: both;
	font-size: 80%;
  }

  
  /* content area */
  #contentArea 
  {
	text-align: left;
	padding:0;
	margin: 0px 190px 0 190px;
  }
  
  .page
  {
	text-align: left;
	padding: 10px;
	margin: 0px 20px 0 190px;
  }
  #description
  {
	font-size: 12pt;
	color: white;
	background: gray;
	border:solid 1px black;
	margin:0;
	padding: 3px 6px 3px 6px;
  }
  
  #oneLineDescription
  {
	background-image:url("images/onelinedesc.png");
	background-position: center;
	background-repeat:no-repeat;
	
	color: Black;
	text-align: center;
	font-size: 17px;
	font-family: Verdana;
	width:544px;
	height:83px;
	padding:0;
	margin:0 0 0 14px;
  }

  /* Content*/
  .area
  {
	background: white;
	border: 1px solid black;
	padding:0;
	margin: 5px 0 0 0;
  }
  .title
  {
	margin: 0;
	padding: 4px 4px 2px 4px;
	color: white;
	font-weight: bolder;
	background-image:url("images/panelwood003.jpg");
	background-repeat:repeat;
	border: brown 2px outset;
  }
    
  /* news */
  #newsArea
  {
	background: white;
	border: 1px solid black;
	padding:0;
	margin: 5px 0 0 0;
  }
  .newsDate
  {
	padding:0;margin:0;
	color:#fff; 
	text-align:left; 
	float:right;
	position:relative;
	top: 6px; 
	right:10px; 
  }
  
  .newsTitle
  {
	margin: 0;
	padding: 4px 4px 2px 4px;
	color: white;
	font-weight: bolder;
	background-image:url("images/panelwood003.jpg");
	background-repeat:repeat;
	border: brown 2px outset;
  }
  .newsContent
  {
	padding: 0 4px 4px 4px;
	margin:0;
  }
  
  #footerArea
  {
	text-align: center;
	font-size: 60%;
	padding:0;
	margin: 10px 0 0 0;
	clear:both;
  }
  
  /* HOF */
  .hallOfFame
  {
	margin: 0 auto 0 auto;
	padding:0;
	background: url("images/HOFbackground.jpg") repeat-y;
	width: 410px; 
  }
  .hallOfFame H1
  {
	margin:0;
	padding:3px;
	text-align:center;
	background-color:Black;
	color:White;
	font-family:Verdana;
  }  
  .hofEntry0, .hofEntry1 
  {	
	margin:5px auto 5px auto;
	padding:0;
	width: 380px;
	height: 70px;
	background: url("images/HOFplack.png") no-repeat;
	border-collapse:collapse;
  }
  .hofPosition
  {
	margin:0;
	padding:5px 0 0 0;
	height: 55px;
	width: 55px;
	font-size: 30px;
	text-align:center;
	text-indent: -5px;
	background: url("images/HOFnumberbox.png") no-repeat;
	color: white;
	position: relative;
	float:left;
	top: 8px;
	left: 35px;
  }
  .hofOutfit
  {
	padding: 0;
	margin: 5px 0 0 0;
	height: 55px;
	width: 55px;
	position: relative;
	float: left;
	left:230px;
	border: 1px solid green;
  }
  .hofName
  {
    font-weight: bolder;
  }

  /* stats table */
  #statistics
  {
	margin: 0 auto 0 auto;
	padding:0;
	background: url("images/Lunar_Stone.jpg") repeat;
	width: 500px; 
	text-align: center;
  }
  
  #statistics h1
  {
	margin:0;
	padding:3px;
	text-align:center;
	background-color:Black;
	color:White;
	font-family:Verdana;
  }
  .uptime
  {
	margin: 5px 5px 10px 5px;
	border: solid 1px black;
	font-weight: bolder;
  }
  #statistics table 
  {
	width: 100%;
  }
  #statistics td
  {
	border: 1px solid black;  
  }
  table .maintitle
  {
	font-size:larger;
	color: white;
	background-color: black;
  }
  table .subtitle
  {
    font-weight: bolder;
    background-color: rgb(240,240,240);
  }
  table .data
  {
  }
   
  /* downloads */
  .download
  {border: 1px solid #ddd;
	margin:0 0 5px 0;
	padding:0;
	background-color:White;
	color: black;	
  } 
  .fileType
  {
	padding:5px;
	border-bottom: solid 1px black;
	color: White;
	background-image:url("images/panelwood003.jpg");
	background-repeat:repeat;
  }
  .fileDescription
  {
	padding: 10px;
  }
  .fileLink
  {
	padding: 5px 10px 5px 10px;
	
  }
  .fileWorksIn
  {
	margin:3px;
	padding:0 10px 5px 10px;
	border: none;
  }
 