
.bordered_image {
	border: 1px black solid;
	width: 96px;
	height: 128px;
	margin-right: 4px;
	margin-bottom: 4px;
}

.best {
	float: right;
	width: 460px;
}

.best a {
	text-decoration: none;
	color: black;
}

.statslabel {
	float: left;
	font-weight: bolder;
	font-family: Arial;
	width: 250px;
}

.sentence {
	border: 1px solid black;
	background-color: rgb(180, 180, 180);
	color: white;
	padding: 4px;
	margin-top: 12px;
}

.position {
	float: left;
	font-size: 8px;
	margin-top: 10px;
	margin-right: 10px;
}

.small_image {
	width: 24px;
	height: 32px;
	float: left;
	margin-right: 6px;
	border: 0;
}

.label {
	font-weight: bold;
}


.row {
	margin-bottom: 6px;
}

.row a {
	text-decoration: none;
	color: black;
}