  .hofLine
  {
  position: relative;
  padding-bottom: 4px;
  border-bottom: 2px dotted grey;
  margin-bottom: 8px;
  width: 178px;
  height: auto;
  }
  .hofPosition
  {
    margin: 2px;
	background: url("../images/HOFnumberbox.png") no-repeat;
	width: 26px;
	height: 25px;
    
    float: right;

    font-size: 15px;
    font-weight: bolder;
	text-align:center;
	color: white;
  }
  .hofOutfit img
  {
      border: 1px solid black;
  }      
  .hofName
  {
    font-weight: bolder;
    position: absolute;
    left: 54px;
    top: 0px;  
  }
  .hofVariable
  {
    position: absolute;
    left: 54px;
    top: 44px;  
    width: 120px;
  }
