  #oneLineDescription
  {
	background-image:url("../images/onelinedesc.png");
	background-position: center;
	background-repeat:no-repeat;
	
	color: Black;
	text-align: left;
	font-size: 14px;
	font-family: Arial sans;
	font-weight: bold;
	width:546px;
	height:84px;
	padding: 0;
	margin:0 0 0 15px;
  }
  #oneLineDescription img 
  {
  margin: 14px 0 0 8px;
  float: left;
  }

  #oneLineDescription span
  {
  position: relative;
  top: 10px;
  padding: 0px 8px 0 0;
  }
   
  /* news */
  #newsArea
  {
	background: white;
	border: 2px solid black;
	padding: 0;
	margin: 5px 0 0 0;
  }
  .newsDate
  {
	padding:0;margin:0;
	color:#fff; 
	text-align:left; 
	float:right;
	position:relative;
	top: 6px; 
	right:10px; 
  }
  
  .newsTitle
  {
	margin: 0;
	padding: 4px 4px 2px 4px;
	color: white;
	font-weight: bolder;
	background-image:url("../images/panelwood003.jpg");
	background-repeat:repeat;
	border: brown 2px outset;
  }
  .newsContent
  {
	padding: 4px 4px 6px 4px;
  }
  
