.cvstime {
	color: #555;
}

.cvsuser {
	color: #AA0;
}
.cvsbranch {
	color: #A00;
	background-color: #FF0;
	font-weight: bold;
}
.cvsmodule {
	color: #00A;
}
.cvsfiles {
	color: #555;
}

.cvscommit {
	color: #000;
	font-style: italic;
}


ul.cvs {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

ul.cvs li {
	margin-bottom: 1em
}
