
#dmenu {
        list-style-type: none;
        font-size: 13px;
}

#dmenu li {
		width: 500px;
		height: 25px;
		margin: 3px 0 0 0;
        padding: 0px 0px 3px 0px;
        border-bottom: 1px solid black;
}

#dmenu a {
        text-decoration: none;
        color: blue;
}

#dmenu a:hover {
        text-decoration: underline;
        color: blue;
}

#dmenu img {
        border: 0;
        margin: 0 6px -6px -3px;
}
