div.npc { 
	height: 114px;
	min-height: 114px;
	width: 75px;
	min-width: 75x;
	text-align: center;
	padding: 5px;
	margin: 5px;
	float: left;
}

a.npc {
	text-decoration: none;
}

img.npc {
	height: 64px;
	text-decoration: none;
	border: none;
}

div.npc_name {
	font-size: 12px;
	font-weight: bolder;
}

div..npc_level {
	font-size: 12px;
}
