.news 
  {
  font-family: Arial;
  font-weight: bolder;
  }
.news td 
  {
  font-weight: bolder;
  text-align: right;
  }
.news input
  {
   width: 100%;
  }
.news input[type="submit"]
  {
   width: 120px;
  }
.news input[type="checkbox"]
  {
   width: 32px;
  }
.news textarea
  {
   width: 100%;
  }

.events_list
  {
    border-bottom: 1px grey dotted;
    margin-bottom: 4px;
  }
.events_list a
  {
  text-decoration: none;
  font-size: 12pt;  
  }
.date
  {
    margin-left: 12px;
    text-align: right;
    font-size: 12px;
    color: grey;
  }