.bordered_image {
	border: 1px black solid;
	width: 67px;
	height: 90px;
	margin-right: 4px;
	margin-bottom: 4px;
}

.statslabel {
	float: left;
	width: 150px;
	font-weight: bolder;
	font-family: Arial;
	width: 150px;
}

.sentence {
	border: 1px solid black;
	background-color: rgb(180, 180, 180);
	color: white;
	padding: 4px;
	margin-top: 12px;
}

.active {
	color: green;
}

.banned {
	color: red;
	font-weight: bolder;
}

.table {
	border: 1px solid #BBBBBB;
	background: #DDDDDD;
	text-align: left;
	padding: 5px;
	margin-bottom: 12px;
}

.row {
	margin-bottom: 10px;
}

.row img,.emptybox {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.creature {
	width: 48px;
	height: 64px;
}

.row a {
	text-decoration: none;
	color: black;
}

.title {
	font-size: 110%;
	border-bottom: 1px dotted black;
	margin-bottom: 5px;
}

.label {
	font-weight: bold;
}

.data {
	font-style: italic;
}

.emptybox {
	width: 32px;
	height: 32px;
	border: 1px solid black;
}
