.item {
	text-align: center;
}

.item img {
	border: 1px solid black;
}

.item .name {
	text-align: left;
	font-size: 36px;
	font-family: monospace tahoma courier;
}

.item .level {
	text-align: left;
	font-size: 18px;
}

.item .xp {
	text-align: left;
	font-size: 14px;
}

.item .description {
	padding: 5px;
	border: 1px solid #BBBBBB;
	background: #DDDDDD;
	font-style: italic;
	margin-top: 12px;
	margin-bottom: 12px;
}


.table {
	border: 1px solid #BBBBBB;
	background: #DDDDDD;
	text-align: left;
	padding: 5px;
	margin-bottom: 12px;
}

.row {
	margin-bottom: 5px;
}

.row img {
	float: left;
	margin-right: 10px;
	width: 48px;
	min-width: 48px;
}

.row a {
	text-decoration: none;
	color: black;
}

.title {
	font-size: 110%;
	border-bottom: 1px dotted black;
	margin-bottom: 5px;
}

.label {
	font-weight: bold;
}

.data {
	font-style: italic;
}