.row {
	height: 124px;
	min-height: 124px;
	width: 75px;
	min-width: 75x;
	text-align: center;
	padding: 5px;
	margin: 5px;
	float: left;

}

.nodeco {
	text-decoration: none;
	color: black;
}

.row img {
	margin-right: 10px;
	margin-bottom: 20px;
	width: 48px;
	height: 64px;
	border: 0;
}

.row .name {
	font-size: 12px;
	font-weight: bolder;
	color: blue;
}

.row .amount {
	font-style: italic;
}