.onlinePlayer {
	width: 80px;
	height: 100px;
	text-align: center;
	float: left;
}

.onlinename {
	font-size: 10px;
	font-weight: bold;
}

.onlinePlayer a {
	text-decoration: none;
	color: black;
}

.onlinePlayer img {
	border: 0;
}